@tailwind base;
@tailwind components;
@tailwind utilities;

 *{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
  img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  img {
    -webkit-touch-callout: none;
  }  
  @media print {
    *{
      display: none;
    }
  }
  
  @media screen and (max-device-width: 480px) {
    @media print {
      *{
        display: none;
      }
    }
  }
  